/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #4DA5E4;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

#view_location_item_table_container{
    display: none;
}

#location_item_edit_form{
    margin:30px;
}


#inventory_form table tbody tr td
{
    vertical-align: middle!important;
}

.add_btn
{
    cursor: pointer;
}

.modal_form{
    margin: 0px 25px;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 40px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
.navbar
{
    margin-bottom: 0px;
}
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
// margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

@media(min-width:768px) {
    header {
    // min-height: 87%;
    }

    header .header-content {
        /*     position: absolute;
             top: 30%;
             padding: 0 50px;
             -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
             transform: translateY(-50%);
             */
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
    //max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
    //  max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
//  background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
//  background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
// background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
.home-page-login
{
    text-align: left;
    background: rgba(7, 139, 208, 0.65);
    padding: 30px;
    border-radius: 5px;
    /* margin: 0 auto; */
    float: right;
    width: 100%;
}
.login-btn
{

    display: block;
    width: 100%;
    border-radius: 2px;
    background: #254697;
    border: solid 1px;
    margin-bottom: 10px;
    color: white;
}
.home-page-login p
{
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
#forgetform
{
    display: none;
}
.error-msg
{
    background: rgba(249, 64, 64, 0.77);
    padding: 9px 40px;
    /* margin-top: -9px; */
    margin-bottom: 16px;
    display: block;
    width: 400px;
    margin: 14px auto
}
.btn
{

    border-radius: 2px;
    background: #078BD0;
    border: solid 1px;
    margin-bottom: 10px;
    color: white;
}
.befor-menu
{
    background: white;

}
.befor-menu ul li
{
    display: inline-block;
    padding: 5px 10px;
    color: #254697;
}
.befor-menu ul
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.before-menu-icon
{
    padding-right: 8px;
}
.before-menu-right
{
    float: right;
}
.other-page
{
    min-height: 160px;
}
.larg-btn-box
{
    border: solid 2px #FFFFFF;
    padding: 28px 4px;
    color: #FFFFFF;
    text-align: center;
    max-width: 200px;
    background: #078BD0;
    margin: 0 auto;
}
.circle-border {
    border: solid 2px #FFFFFF;
    padding: 23px;
    border-radius: 50%;
    width: 101px;
    display: block;
    margin: 0 auto;

}
.larg-btn-box:hover
{
    background: rgba(7, 139, 208, 0.42);
}
a
{
    color: black;
}
a:hover, a:focus {
    color: black;
    text-decoration: none;
}
.wait-section
{
    display: none;
}
.user-list-contant .form-group
{
    margin:0px;
}
.user-list-contant .table>tbody>tr>td
{
    padding: 3px 10px;
    vertical-align: middle;
}
.user-list-contant .form-control {
    height: 25px;
    font-size: 14px;
    padding: 0px;
}
.user-list-contant .checkbox
{
    margin: 0px;
}
.admin-welcome
{
    margin-bottom: 30px;
}
@media (min-width: 768px)
{
    .other-page  .header-content {
        position: absolute;
        top: 70%;
    }
}
.user-list-contant
{
    background: white;
    margin-top: 36px;
    padding: 20px;
}

.user-list-contant .table thead
{
    background: #74C7E7;
    color: white;
}
#myNav
{
    background: #078BD0;
    text-align: center;
    min-height: 60px;
}
#myNav h3
{
    color: white;
    display: inline-block;
}
.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus
{
    color: white;
}
.hospital-list-contant
{

}
.hospital-list-contant .form-group
{
    margin:0px;
}
.hospital-list-contant .table>tbody>tr>td
{
    padding: 3px 10px;
    vertical-align: middle;
}
.hospital-list-contant .form-control {
    height: 29px;
    font-size: 14px;
    padding: 0px 10px;
    margin-right: 20px;
}
.hospital-list-contant .checkbox
{
    margin: 0px;
}
.hospital-list-contant
{
    background: white;
    padding: 20px;
    margin: 35px 18px
}

.hospital-list-contant .table thead
{
    background: #74C7E7;
    color: white;
}
.login-page-text
{
    text-align: left;
    background: rgba(7, 139, 208, 0.68);
    padding: 41px 20px;
    margin: 31px;
}
.login-page-text ul li
{
// display: block;
}
.action-icon
{
    padding-right: 10px;
}
.show-form
{
    display: none;
}
.my-footer
{
    background: #078BD0;
    color: white;
    border-top: white solid 1px;
    min-height: 45px;
}
.my-footer p
{
    padding: 10px;
    margin: 0px;
}
.right-text
{
    text-align: right;
}
.my_header
{
    color: #078BD0;
    text-align: center;
    text-transform: uppercase;
    background: white;
    min-height: 40px;
}
.my_header h3
{
    margin: 0px;
    padding: 6px 0PX;
}
.admin-list-contant
{
    min-height: 85%;
}
#edit_form
{
    margin: 0px 25px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button
{
    padding: 0px !important;
}

.custom-file-input {
    width: 103px;
    cursor: pointer;
}
.wizard > .content
{
    position: inherit;
}
.wizard > .content > .body
{
    position: inherit !important;
    height: auto !important;
}
.wizard > .content > .body ul > li
{
    display: inline-block !important;
    border: 0px !important;
}
.wizard > .content > .body ul
{
    width: 100%;
}
.dataTables_wrapper .dataTables_paginate
{
    width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
    border: none!improtant;
}

#add-inventory .actions{
    /*display:none;*/
}

#item_form{
    padding: 20px;
}
.deshboard
{
    padding-bottom: 0px;
}
.deshboard-row
{
    margin: 0px;
}
.side-bar-deshboard {
    background: #434348;
    min-height: 68%;
    padding-top: 15px;
    color: white;
    border-radius: 10px;
}

.department-filter {
    margin-top: 30px;
    background: #F7A35C;
    padding: 15px;
    border-radius: 6px;
}

.department-sub-filters
{
  //  text-align: center;
    
}
.supplier-filter {
    margin-top: 30px;
    background: #095780;
    padding: 15px;
    border-radius: 6px;
}
.deshboard-tab-content
{
    
    
}
.deshboard-toggle {
    display: inline;
    padding: 10px;
}
.deshboard-toggle-ul
{
    text-align: right;
    color: white;
}
.deshboard-toggle-ul a
{
        color: white;
}
.total-value-chart {
    background: #078BD0;
    padding: 10px;
    margin-bottom: 20px;

}
.deshborard-table
{
    width: 100%;
    color: white;
    background: #095780;
}
.deshborard-table th
{
    padding: 10px;
}
.deshborard-table td
{
    padding: 10px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.panel-primary span {
    color: #337ab7 !important;
}
.panel-green span {
    color: #5cb85c !important;
}
.panel-yellow span {
    color: #f0ad4e !important;
}
