#map-container{
    width: 100%;
    height: 400px;
    background-color: #ddd;
    padding: 5px;
    position: relative;
    font-family: sans-serif;
}

#map-container .map-node{
    position: absolute;
    cursor: move;
    background-color: #2e8ece;
    font-size: 12px;
    color: #ffffff;
}

#map-container table{
    border-radius: 5px;
}

#map-container table tr:first-child{
     border-bottom: 1px solid #ffffff;
}

.map-node td{
    padding: 3px;

}

.info_box{
    position: absolute;
    left: 25%;
}


#post-pi-map-container{
    width: 103%;
    height: 400px;
    background-color: #ddd;
    padding: 5px;
    position: relative;
    font-family: sans-serif;
}

#post-pi-map-container .map-node{
    position: absolute;
    cursor: move;
    background-color: #2e8ece;
    font-size: 12px;
    color: #ffffff;
}

#post-pi-map-container table{
    border-radius: 5px;
}

#post-pi-map-container table tr:first-child{
    border-bottom: 1px solid #ffffff;
}

.node-active{
    background-color: white!important;
    color:black!important;
}

.node-active tr:first-child{
    border-bottom: 1px solid black!important;
}





#mapPrintView{
    width: 103%;
    height: 400px;
    background-color: #ddd;
    padding: 5px;
    position: relative;
    font-family: sans-serif;
}

#mapPrintView .map-node{
    position: absolute;
    cursor: move;
    background-color: #2e8ece;
    font-size: 12px;
    color: #ffffff;
}

#mapPrintView table{
    border-radius: 5px;
}

#mapPrintView table tr:first-child{
    border-bottom: 1px solid #ffffff;
}

.node-active{
    background-color: white!important;
    color:black!important;
}

.node-active tr:first-child{
    border-bottom: 1px solid black!important;
}