
#section-1 table tbody tr td{
    cursor: pointer;
}

#section-2{
    display: none;
}

#section-3{
    display: none;
}

#section-2 .larg-btn-box-setting{
    min-height: 137px;
    margin: 0 auto;
}
#section-2 button
{
        width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}